<!DOCTYPE HTML>
<html>
<head>
    <title>관리자 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app/main.css">
</head>
<body>
<h1>CCTV 관리</h1>
<div class="col-md-12" >
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">CCTV 추가</button>
    <br/>
    <br/>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>CCTV 고유 번호</th>
            <th>설치 위치</th>
            <th>관리자</th>
            <th>최근 점검 일자</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>start18-202</td>
                <td>서울시 서대문구 이화여대 1길</td>
                <td>이강희</td>
                <td>2022-04-07</td>
            </tr>
            <tr>
                <td>start18-232</td>
                <td>서울시 서대문구 이화여대 52길</td>
                <td>김주연</td>
                <td>2022-11-24</td>
            </tr>
            <tr>
                <td>start18-212</td>
                <td>서울시 서대문구 이화여대 33길</td>
                <td>이주미</td>
                <td>2022-07-19</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal 영역 -->
<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePostsLabel">CCTV 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title">CCTV 고유 번호</label>
                        <input type="text" class="form-control" id="id" placeholder="CCTV 고유 번호를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="title"> 설치 위치 </label>
                        <input type="text" class="form-control" id="author" placeholder="설치 위치를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="author"> 관리자 </label>
                        <textarea class="form-control" id="content" placeholder="관리자를 입력하세요"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </div>
        </div>
    </div>
</div>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/main.js"></script>

</body>
</html>