<!DOCTYPE HTML>
<html>
<head>
    <title>관리자 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app/menu.css">
</head>
<body>
<h1>관리자 페이지</h1>
<div class="col-md-12">
    <button type="button1" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">신고 리스트 확인</button>
    <button type="button2" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">CCTV 리스트 확인</button>
    <br/>
    <br/>
</div>
<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

</body>
</html>